@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Start General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: 'Montserrat Alternates', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    text-align: center;
    background-color: #000000;
    color: #fafafa;
}

h3 {
    text-align: center;
    background-color: rgb(220, 220, 220);
    margin: 5px 0;
}

.active {
    color: #fafafa;
}

.hidden {
    display: none;
}

.align-center {
    align-self: center;
    max-width: 1200px;
}
/* End General */

/* Start Header */
header {
    background-color: #000000;
    color: #fafafa;
    padding: 5px;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-style: italic;
    font-size: 1.6rem;
}

#menu {
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 120%;
    font-weight: 700;
}

#menu li {
    margin: 10px 0;
    transition-duration: 0.6s;
}
/* End Header */
/* Start Nav */
nav {
    position: absolute;
    background-color: #000000;
    color: #3a3a3a;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    margin-right: 5px;
    font-size: 25px;
}
/* End Nav */
/* Start Main */
main {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex: 1 0 auto;
    margin-top: 70px;
}

main hr {
    border: 1px solid #000000;
    margin: 5px 0;
    width: 100%;
}

/* Start Hero */
#hero {
    margin-bottom: 5px;
}

#hero>video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
/* End Hero */
/* Start About Us */
#aboutus {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#about-intro {
    display: flex;
    flex-direction: column;
}

#aboutus-img {
    object-fit: cover;
    object-position: center;
    height: 260px;
    width: 260px;
    min-height: 260px;
    min-width: 260px;
    transform: scaleX(-1);
    align-self: center;
}

#aboutus p {
    padding: 5px 10px;
    text-align: justify;
}

#team-gallery {
    display: flex;
    flex-direction: column;    
}

#team-gallery>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#team-gallery img {
    height: 300px;
    width: 100%;
    max-height: 300px;
    max-width: 200px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
    margin: 10px 5px 0 5px;   
}
/* End About Us */
/* Start Recipes */
#recipes {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#starters-links,
#mains-links,
#desserts-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

#starters-links div,
#mains-links div,
#desserts-links div {
    margin: 10px 10px 20px 10px;
    width: 200px;
    height: 250px;
}

#recipes img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    object-position: center;    
}
/* End Recipes */
/* Start Signup */
#signup {
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 650px;            
}

#form-promo-text {
    text-align: center;   
    background-color: #000000;
    color: #fafafa;
    padding: 10px 5px;
}

#signup-form {
    display: flex;
    flex-direction: column;
    background: url("../images/fresh-veg.jpg")no-repeat center center/cover;    
    padding: 10px 0px;
}

#first-name,
#last-name,
#email-address {
    background-color: #fafafa;
    margin-top: 15px;
    border-style: solid 1px #000000;
    border-radius: 10px;
    padding: 5px 0 5px 10px;
    font-size: 120%;
    font-family: inherit;
}

input::placeholder {
    color: #3a3a3a;
}

#form-submit-button {
    background-color: #000000;
    color: #fafafa;
    margin-top: 10px;
    border-style: none;
    border-radius: 10px;
    padding: 5px 70px;
    font-size: 120%;
    font-family: inherit;
    transition-duration: 0.6s;
}
/* End Signup */
/* Start Recipe Info */
#recipe-info {
    padding: 10px;
    display: flex;
    flex-direction: column;    
}

#recipe-info li {
    margin: 0 0 15px 15px;
}

#about-recipe {
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    
}

#recipe-img {
    height: 300px;
    width: 100%;
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    object-position: center;
}    

#recipe-description {
    margin: 10px;
    text-align: justify;
}

#recipe-ingredients {
    margin-bottom: 10px;
}

#recipe-method {
    margin-bottom: 10px;
}
/* End Recipe Info */
/* Start Footer */
footer {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;
    color: #3a3a3a;
}

#social-networks {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 15px 0;
}

#social-networks i {
    color: #fafafa;
    font-size: 200%;
}

#webpage-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 10px 0;
}
/* End Footer */
/* End Main */

/* Start Media query: large or landscape phones (500px and up) */
@media screen and (min-width: 500px) {
    /* Start About Us */
   #about-intro {
        display: block;
   }
   
    #aboutus-img {
    float: left;
    margin: 0 10px 0 0;
    }
    /* End About Us */
    
    /* Start Recipe Info */
    #about-recipe {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #recipe-description {
        width: 60%;
    }
    /* End Recipe Info */
}
/* End Media query: large or landscape phones (500px and up) */
/* Start Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Start Nav */
    nav {
        display: block;
        position: relative;
        top: 0;
        right: 0;
        box-shadow: none;
        width: fit-content;
        height: 100%;
        align-content: center;
    }

    #menu {
        display: flex;
        height: 100%;
    }

    #menu>li {
        margin: 0;
        padding: 0 1rem;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .nav-toggle-label {
        display: none;
    }
    /* End Nav */
}
/* End Media query: tablets and larger (768px and up) */
/* Start Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Start General */
    body {
        font-size: 120%;
    }
    /* End General */
    /* Star Header */
    #menu li:hover {
        background-color: rgb(220, 220, 220);
        cursor: pointer;
    }
    /* End Header */
    /* Start Signup */
    #form-submit-button:hover {
        background-color: #3a3a3a;
        cursor: pointer;
    }
    /* End Signup */
}
/* End Large devices (laptops and desktops, 992px and up) */
/* Start Large devices (laptops and desktops, 1200 and up) */
@media screen and (min-width: 1200px) {
}
/* End Large devices (laptops and desktops, 1200px and up) */